    <footer class="footer mt-auto py-4 bg-nisra text-white">

      <div class="container">
        <!-- 3 column section -->
        <div class="row mb-3">
          <div class="col-md-4">
            <h5>Data Tools</h5>
            <ul class="list-unstyled">
              <li><a href="https://explore.nisra.gov.uk/local-stats/">Local Statistics Explorer</a></li>
              <li><a href="https://data.nisra.gov.uk">Data Portal</a></li>
              <li><a href="https://build.nisra.gov.uk/en/">Census Flexible Table Builder</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Corporate</h5>
            <ul class="list-unstyled">
              <li><a href="https://www.nisra.gov.uk/">NISRA Website</a></li>
              <li><a href="https://www.nisra.gov.uk/about-us/careers">Careers</a></li>
              <li><a href="https://www.nisra.gov.uk/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Follow</h5>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/nisra.gov.uk">
                  <img src="images/logo/facebook-brands-solid-full.svg" title="Facebook" role="img" class="img-50"/>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://x.com/NISRA/">
                  <img src="images/logo/x-twitter-brands-solid-full.svg" title="Twitter/X" role="img" class="img-50"/>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/user/nisrastats">
                  <img src="images/logo/youtube-brands-solid-full.svg" title="YouTube" role="img" class="img-50"/>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/northern-ireland-statistics-and-research-agency/">
                  <img src="images/logo/linkedin-in-brands-solid-full.svg" title="LinkedIn" role="img" class="img-50"/>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/nisra.gov.uk/">
                  <img src="images/logo/instagram-brands-solid-full.svg" title="Instagram" role="img" class="img-50"/>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Horizontal list with separators -->
        <ul class="list-inline footer-links text-center mb-0">
          <li class="list-inline-item"><a href="https://www.nisra.gov.uk/crown-copyright">© Crown Copyright</a></li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item"><a href="https://www.nisra.gov.uk/terms-and-conditions">Terms and conditions</a></li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item"><a href="https://www.nisra.gov.uk/cookies">Cookies</a></li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item"><a href="https://www.nisra.gov.uk/nisra-privacy-notice">Privacy</a></li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item"><a href="https://datavis.nisra.gov.uk/dissemination/accessibility-statement-visualisations.html">Accessibility Statement</a></li>
        </ul>
      </div>
      
    </footer>