<nav class="navbar p-0 full-bleed-header">

  <div class="container-fluid d-flex flex-column align-items-stretch p-0">
    
    <div class="w-100 header-survey-row">
      <div class="text-white text-center py-2 px-3">
        <strong>
          We welcome feedback from users through our
          <a href="https://dttselfserve.nidirect.gov.uk/NISRA/RateIt#/Weekly_Deaths" target="_blank" class="text-white text-decoration-underline">short survey</a>
        </strong>
      </div>
    </div>

    <div class="navbar-main-row w-100 py-3 px-2">
      
      <a class="navbar-brand ps-2 d-flex align-items-center me-3 flex-shrink-0" href="https://www.nisra.gov.uk/">
        <img
          src="images/logo/nisra-only-white.svg"
          alt="NISRA logo"
        >
      </a>

      <h1 class="mb-0 pe-2 text-white app-title flex-grow-1 text-end">
        Weekly Deaths
      </h1>

    </div>

  </div>

</nav>